 <div class="jumbotron">
  <h2>Github feed</h2>
</div>

<div class="row marketing">
  <div class="col-lg-2">
  </div>

  <div class="col-lg-10">
    <ul id="push_list" class="list-group">
    </ul>
  </div>
</div>
